<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Par Tables</h1>
    <p class="lead">As Inspired from the RAWK Forum</p>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Par Table</h1>
      {{$ctrl.maxPar}}
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="(key, value) in $ctrl.pars">
        {{key}}
        {{value}}
        <li><a href="#" uib-tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="$ctrl.deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>


</div>
